.root {
    margin: 24px 36px;
    padding: 17px;
    border-radius: 12px;
    background: #FFF;
    display: flex;
}

.input {
    width: 100%;
    border: none;
    color: #C4C4C4;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.input:focus-visible {
    border: 1px solid #ffff
}
